langchain==0.0.138
streamlit
streamlit-chat
streamlit-extras
openai
python-dotenv
youtube-transcript-api
tiktoken
wandb
unstructured
tabulate
chromadb
pydantic==1.10.11
lazy-object-proxy==1.4.0
wrapt==1.11
isort==4.2.5
mccabe==0.6
platformdirs==2.2.0
tomli==2.0.1
tomlkit==0.10.1
typing-extensions==4.6.0
gradio
pathlib
typing
youtube_dl